<nav class="navbar navbar-expand navbar-dark bg-primary sticky-top border-bottom">
    <div class="container-fluid">
        <a href="/students" class="navbar-brand">Rdec</a>
       

    <button class="navbar-toggler" data-target="mynavbar" data-toggle="collapse">
        <span class="nabar-toggler-img"></span>
    </button>


    <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item"><a href="/students" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/students/new" class="nav-link">Create</a></li>
            <li class="nav-item"><a href="/allusers" class="nav-link">Users</a></li>
           
            
            

        </ul>

        <div class="navbar-nav ms-auto" id="mynavbar">
            <ul class="navbar-nav">
              <a href="/signup"><button class="btn btn-outline-warning border-white border-2 text-light">Signup</button></a>
            </ul>
        </div>
        
        
          
        
    </div>
    </div>
</nav>